.header {
  background: #2c2241 !important;
  border-bottom: 2px solid #9e00ec;
  display: flex;
  color: white;
  height: 100px;
}
.logo {
  width: 260px;
  & img {
    width: 100%;
  }
}
.remote-menu {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
  & p {
    margin-right: 15px;
  }
  & * {
    font-weight: bold;
  }
}
